{"filter":false,"title":".gitignore","tooltip":"/HypeBeat/.gitignore","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":28,"column":0},"end":{"row":29,"column":0},"action":"insert","lines":["",""],"id":2}],[{"start":{"row":29,"column":0},"end":{"row":29,"column":12},"action":"insert","lines":[".c9/metadata"],"id":3}]]},"ace":{"folds":[],"scrolltop":46.5,"scrollleft":0,"selection":{"start":{"row":29,"column":12},"end":{"row":29,"column":12},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":1,"state":"start","mode":"ace/mode/ini"}},"timestamp":1550467204668,"hash":"a5a7c5bf8f63bf4c1dd661b1b24659b9fdbef650"}